body{
    font-family: Helvetica, sans-serif;
    margin: 0;
}
.container{
    width: 900px;
    max-width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 10px;
}
svg{
    width: 30px;
}
header{
    width: 100%;
    padding: 20px 0;
}
header .icon-cart span {
    width: 30px;
    height: 30px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -20px;
}
header .icon-cart{
    position: relative;
}
.listProduct .item img{
    width: 90%;
}
.listProduct{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.listProduct .item{
    background-color: #eee;
    padding: 20px;
    border-radius: 20px;
}
.listProduct .item h2{
    font-weight: 500;
    font-size: large;
}
.listProduct .item .price{
    letter-spacing: 7px;
    font-size: small;
}
.listProduct .item button{
    background-color: #353432;
    color: #eee;
    padding: 5px 10px;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}
.cartTab{
    width: 400px;
    background-color: #353432;
    color: #eee;
    position: fixed;
    top: 0;
    right: -400px;
    /* right: 0; metto a -400 perche non si mostri */
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
}
body.showCart .cartTab{
    right: 0;
}

.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}
.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.cartTab .btn button{
    background-color: yellow;
    border: none;
    font-weight: 500;
    cursor: pointer;
}
.cartTab .btn .close{
    background-color: #eee;
}
.cartTab .listCart .item img{
    width: 100%;

}
.cartTab .listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    color: #555;
    border-radius: 100%;
    cursor: pointer;
}
.listCart{
    overflow: auto;
}