.faq-container {
    width: 80%;
    margin: 20px auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.faq-container h1 {
    text-align: center;
    color: #333;
}
.faq-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}
.faq-item:last-child {
    border-bottom: none;
}
.faq-question {
    display: block;
    cursor: pointer;
    padding: 10px 0;
    font-size: 14pt;
    font-weight: bold;
}
.faq-answer {
    max-height: 0;
    overflow: hidden;
}
.faq-toggle {
    display: none;
}
.faq-toggle:checked + .faq-question + .faq-answer {
    max-height: 500px;
}
.faq-answer p {
    margin: 10px 0;
    color: #333;
}
.btn{
    display: flex;
    justify-content: center;
    /* a mali estremi estremi rimedi */
    a{
        button{
            margin-top: -20px;
            cursor: pointer;
            display: flex;
            height: 40px;
            width: 180px;
            border-radius: 0;
            vertical-align: middle;
            align-items: center;
            text-align: center;
            justify-content: center;
            /* ma è sempre stato cosi difficile centarer le code????? */
        }
    }
}
.btn{
    display: flex;
        justify-content: center;
        /* a mali estremi estremi rimedi */
        a{
            cursor: pointer;
            button:hover{
                background-color: #000;
                color: white;
                transition: all 0.3s linear;
                /* ma è sempre stato cosi difficile centarer le code????? */
            }
        }
}