/* allora piccolo riferimento se mai dovessi ancora mettere le mani queso foglio 
ha i css per lo slide delle immagini nella homepage  E I RELATIVI CSS TUTTI!!!! solo per
questa mentre le altre ciascuna oltre a gen hanno la loro folgio */
.slideshow-container {
    position: relative;
    width: 100%;
    height: 92vh; /* vh sarebbe un unita di misura che varia in base allo schermo quindi amnche responsive ;) forse */
    overflow: hidden;
}
.mySlides {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}
.mySlides img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* cosa l'immagine per riempire la paginaa */
}
.fade {
    animation-name: fade;
    animation-duration: 3s;
}
@keyframes fade {
    from {opacity: 0.8}
    to {opacity: 1}
}
.overmg{
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    h1{
        font-size: 60pt;
        color: #fff;
        text-shadow: #000 2px 0 10px;
        line-height: 120px;
        text-align: center;
    }
}
.shadows-into-light-regular {
    font-family: "Shadows Into Light";
    font-weight: 400;
    font-style: normal;
}  
/* fine se dio vuole peripezzie slide */
/* inizio pregare per il resto della pagina */
.storie{
    display: flex;
}
.storia{
    position: relative;
    margin: 10px;
    img{
        display: block;
        width: 100%;
    }
    .testoria{
        position: absolute;
        bottom: 20px;
        left: 20px;
        color: #fff;
        span{
            display: block;
        }
    }
}
.chi-tn{
    p{
        font-size: 40pt;
        margin-bottom: -10px;
    }
}
.p20{
    font-size: 40pt;
}
.centra{
    text-align: center;
}
.storia:hover{
    img{
        opacity: 0.5;
    }
    .testoria{
        position: absolute;
        bottom: 20px;
        left: 20px;
        color: #000;
        font-size: 20pt;
        font-weight: bold;
        span{
            display: block;
        }
    }
}
.intr{
    margin-top: 50px;
    p{
        margin-left: auto;
        margin-right: auto;
    }
    p.a90{
        margin-top: -30px;
        width: 60%;
    }
}

.mappe{
    display: flex;
    align-items: center;
    /* margin-left: auto;
    margin-right: auto; */
    justify-content: center;
}
.terr{
    p.p20{
        margin-top: 50px;
        margin-bottom: 30px;
    }
    p.a45{
        margin-top: -30px;
        margin-bottom: -10px;
    }
}
.metei{
    /* display: flex; */
    iframe{
        scrollbar-width: none;
        width: 600px;
        height: 492px;
        overflow: hidden;
        /* width: 600px;
        height: 300px; */
    }
    p.p20{
        margin-bottom: 2px;
    }
    .meteop{
        display: flex;
        justify-content: space-around;
    }
}

.p-con{
    .btn{
        display: flex;
        justify-content: center;
        /* a mali estremi estremi rimedi */
        a{
            button{
                margin-top: -40px;
                margin-bottom: 50px;
                cursor: pointer;
                display: flex;
                height: 45px;
                width: 200px;
                border-radius: 0;
                vertical-align: middle;
                align-items: center;
                text-align: center;
                justify-content: center;
                /* ma è sempre stato cosi difficile centarer le code????? */
            }
        }
    }
}
.p-con{
    .btn{
        display: flex;
        justify-content: center;
        /* a mali estremi estremi rimedi */
        a{
            cursor: pointer;
            button:hover{
                background-color: #000;
                color: white;
                transition: all 0.3s linear;
                /* ma è sempre stato cosi difficile centarer le code????? */
            }
        }
    }
}