.modal {
    display: none; /* Nascondi per default */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    z-index: 1000;
}
.modal-content {
    position: relative;
    padding: 20px;
}
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.gid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    img{
        width: 100%;
    }
}

.piatto .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    width: 85%;
    height: 0;
    transition: .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    opacity: 0;
}
/* se non si centra cosi non so cosa farci */
.piatto:hover img {
    opacity: 0.6;
}
.piatto:hover .overlay {
    height: 100%;
    width: 100%;
    opacity: 1;
    cursor: url(../downld/pointer-ov.svg), auto;
}
.piatto {
    position: relative;
    display: inline-block;
    width: 100%;
}
.piatto img {
    width: 100%;
    transition: opacity 0.5s ease;
}


/* css per i canederli pagibna e cosa la aparte */
.piatt .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    width: 85%;
    height: 0;
    transition: .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    opacity: 0;
}
/* se non si centra cosi non so cosa farci */
.piatt:hover img {
    opacity: 0.6;
}
.piatt:hover .overlay {
    height: 100%;
    width: 100%;
    opacity: 1;
    cursor: url(../downld/pointer-ov.svg), auto;
}
.piatt {
    position: relative;
    display: inline-block;
    width: 100%;
}
.piatt img {
    width: 100%;
    transition: opacity 0.5s ease;
}
div.pag{
    p{
        margin-top: -20px;
    }
}